<a href="https://colab.research.google.com/github/victoriaoni/analytics/blob/main/function_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- procedural paradigm
- functional paradigm
- Object oriented programming paradigm

In [ ]:
name = 'sam'
age = 25
gender = 'Male'
print(name)
print(age)
print(gender)

name = 'Vic'
age = 30
gender = 'Female'
print(name)
print(age)
print(gender)

name = 'Bob'
age = 15
gender = 'Male'
print(name)
print(age)
print(gender)

sam
25
Male
Vic
30
Female
Bob
15
Male

In [ ]:
num1 = 5
num2 = 10
sumnum = num1 + num2
print(sumnum)

num3 = 6
num4 = 6
sumnum = num3 + num4
print(sumnum)

15
12

In [ ]:
juice = 'Orange juice'
print(juice)

In [ ]:
# def sumnum(): # ---> parameters
#   pass

def fruit_blender(fruit):
  print(fruit)

lemon = fruit_blender('Lemon')

lemonade =  lemon + 'ade'
lemonade

Lemon

TypeError: ignored

In [ ]:
def sumnum(x, y):
  sum = x + y
  return sum

result = sumnum(5, 10)
result / 3
# result = 15
# result / 3 --> 5

5.0

In [ ]:
import typing
def get_first_letter(word: str):
  '''This function prints the first letter of the word.'''
  #first_letter = word[0]
  #last_letter = word[-1]
  for i in word:
    print(i)
  #print(last_letter)

get_first_letter()
#print()

In [ ]:
word = 'victoria'
word[0]

'v'

In [ ]:
def greet():
  return 'hello'

greet()

'hello'

In [ ]:
def calc_salary(salary, hours=60, bonus=1.5):  # positional parameters, default parameters
  ''' This function returns a new salary based on bonus accrued per hours of work '''
  if hours > 60:
    new_salary = salary * bonus
    return new_salary
  elif hours < 60:
    new_salary = salary * 1.2
    return new_salary


calc_salary(2000, hours=60, bonus=1.2)
help(calc_salary)

Help on function calc_salary in module __main__:

calc_salary(salary, hours=60, bonus=1.5)
    This function returns a new salary based on bonus accrued per hours of work

In [ ]:
calc_salary.__doc__

' This function returns a new salary based on bonus accrued per hours of work '

In [ ]:
def reminder(time = 6.45):
  if time == 6.45:
    return "It's about that time. Get ready!"
  elif time < 6.45:
    return "It's not time."
  
reminder(6.50)

In [ ]:
def go_to_tesco(time = 7):
  pass

In [ ]:
from datetime import date
date.today()

datetime.date(2022, 12, 2)

In [ ]:
def high_num(num1, num2):
  if num1 > num2:
    return num1
  else:
    return num2

high_num(15,7)

15

In [ ]:
def calc_price(qty):
  items = {"Sugar": 20, "Coffee": 50, "Bread": 70}
  prices = []

  for value in items.values():
    prices.append(value)
    
  return prices
  
calc_price(2)

[20, 50, 70]

In [ ]:
items = {"Sugar": 20, "Coffee": 50, "Bread": 70}
items.items()

dict_items([('Sugar', 20), ('Coffee', 50), ('Bread', 70)])

In [ ]:
mylist = [20, 50, 70]
sum(mylist)

# for each item in the list
# multiply each item by qty
for i in mylist:
  amount_spent = 2 * items
return amount_spent

TypeError: ignored

In [5]:
from types import new_class
mylist = [20, 50, 70]
new_list = []
for i in mylist:
  price = 2 * i
  new_list.append(price)

total_cost = sum(new_list)

print(total_cost)  
  #print(price)
print(mylist)
print(new_list)

280
[20, 50, 70]
[40, 100, 140]

In [10]:
def get_total(mylist, qty):
  new_list = []
  for i in mylist:
    price = qty * i
    new_list.append(price)
  return sum(new_list)

get_total([20,50,70], 2)

In [13]:
def multiply(x,y):
  return x*y

multiply(2,7)

14

In [22]:

def check_even():
  start = True
  while not start:
    num = int(input("Type a number: "))
    if (num) % 2 == 0:
      return f"{num} is even."
    elif num == 0:
      break
    else:
      return f"{num} is odd."

check_even()

In [26]:
def check_even():
  #start = True
  while True:
    num = int(input("Type a number: "))
    if num == 0:
      break
    elif (num) % 2 == 0:
      print(f"{num} is even.")
    else:
      print(f"{num} is odd.")

check_even()

Type a number: 3
3 is odd.
Type a number: 2
2 is even.
Type a number: 0